 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2170px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 12px 0 0;
}

.u-section-1 .u-accordion-1 {
  width: 1000px;
  margin: 89px 50px 60px auto;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  font-size: 3.9376em;
  vertical-align: -14px;
}

.u-section-1 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 815px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 23px 52px 0 75px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1007px;
  margin: 24px -30px 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 308px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-image-1 {
  width: 400px;
  height: 300px;
  margin: 7px auto 0 11px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 308px;
}

.u-section-1 .u-container-layout-3 {
  padding: 7px 0;
}

.u-section-1 .u-text-4 {
  margin: 0 82px 0 12px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 308px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: 12px -413px 0 41px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 308px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 739px;
  height: auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-1 .u-text-6 {
  line-height: 1.8;
  margin: 0;
}

.u-section-1 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 739px;
  height: auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 20px 0;
}

.u-section-1 .u-text-7 {
  line-height: 1.8;
  margin: 0 30px;
}

.u-section-1 .u-layout-wrap-2 {
  width: 979px;
  margin: 42px 0 0 auto;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 185px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 185px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 185px;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 185px;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2127px;
  }

  .u-section-1 .u-accordion-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 22px;
    margin-left: 45px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 287px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 286px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 60px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 287px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 287px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 178px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 178px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 178px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 178px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1993px;
  }

  .u-section-1 .u-accordion-1 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 220px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 220px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 136px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 136px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 136px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 136px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2642px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-accordion-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 330px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 204px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 204px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 204px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 204px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2276px;
  }

  .u-section-1 .u-accordion-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 208px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 208px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 128px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 128px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 128px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 128px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}.u-section-3 .u-sheet-1 {
  min-height: 520px;
}